/* Fonts Family */
@font-face {
    font-family: "Inconsolata";
    src: url("../assets/fonts/Inconsolata-VariableFont.woff2") format("woff2");
    font-weight: 400 800;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    /* Font */
    --font-inconsolata: "Inconsolata", sans-serif;

    /*Colors*/
    --color-Neutral0: hsl(0, 0%, 100%);
    --color-Neutral300: hsl(252, 6%, 83%);
    --color-Neutral500: hsl(245, 15%, 58%);
    --color-Neutral700: hsl(245, 19%, 35%);
    --color-Neutral900: hsl(248, 70%, 10%);
    --color-Orange500: hsl(7, 88%, 67%);
    --color-Orange700: hsl(7, 71%, 60%);
}

.gradient-text {
    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    color: transparent;
}
